em.filename-uid {
    opacity: 50%;
    /* margin-left: 1em; */
}

div.filename-uid-with-title {
    font-size: smaller;
    opacity: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
